@import "partials/params";
@import "partials/mixins";

// .auth {
//     display: flex;
//     flex: 0 0 $auth-height;
//     align-items: center;
//     justify-content: space-around;

//     &_link {
//         text-transform: uppercase;

//         font-weight: bold;
//         color: white;
//     }
// }

.authorizarion-wrapper {
    background-color: black;

}

.authorization {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 30px;
    width: 100%;
    color: #fff;


    &_link {
        font-weight: bold;
        font-size: 22px;
    }
}