@import "partials/params";
@import "partials/mixins";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


html,
body {
    @include clear;
    width: 100%;
    font-family: "Roboto&display=swap", sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    @include clear;
}

a {
    text-decoration: none;
    color: inherit;
}

.view-port {
    max-width: $view-port;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    background-color: $main-bg-color;

}

.first_screen {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
}

.hide {
    display: none !important;
}